.feed {
    flex: 0.4;
    border-right: 1px solid var(--twitter-background);
    /* min-width: fit-content; */
    /* width: 550px; */
    margin-left: 290px;
    padding-bottom: 20px;
    border-bottom: 5px solid rgb(233, 232, 232);
}

.home {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    /* background: red; */
}

.scrool {
    overflow-y: scroll;
}

.scrool::-webkit-scrollbar {
    display: none;
}

.feed_header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}